.avatar-wrapper {
    display: flex;
    gap: 16px;
}

.stack-thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.stack-container {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    position: absolute;
    z-index: 10;
  }

  .stack-container:not(:first-child) {
    -webkit-mask:radial-gradient(circle 19px at 7px 50%,transparent 99%,#fff 100%);
    margin-left: 70px;
    mask: radial-gradient(circle 19px at 7px 50%,transparent 100%,#fff 100%);
    position: absolute;
    z-index: 1;
  }
  
  .stack-container img {
    width: 100%;
    display: block;
  }
  

