.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding:30px;
  }
  
  .left-footer-wrapper {
    flex: 1;
  }
  
.social-icon.icon {
    font-size: 2em;
}
  
  .center-footer-wrapper {
    flex: 1;
    text-align: center;
  }
  
  .logo {
    height: 30px;
  }
  
  .right-footer-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  .social-icon {
    margin-right: 8px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
  }
  
  .left-wrapperx {
    background: transparent;
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
  }

.right-wrapperx{
    background: transparent;
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    cursor: pointer;
    padding: 5px 10px;
    /* margin: 5px; */
}
button {
    font-family: 'Lato', sans-serif;
  }

  

  